* {
  margin: 0;
  padding: 0;
}
#Rob > li {
  color: #fff;
  background-color: rgb(17, 19, 19);
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
#Rob > li:hover {
  color: rgb(14, 12, 12);
  background-color: #fff;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
#game-start {
  margin: 23% auto;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}
#game-start:hover {
  background-color:#fff;
  color: black;
}
body {
  font-family: 'Tenali Ramakrishna', sans-serif;
  background-image: url(./1.jpeg);
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.btn {
  color: #fff;
  cursor: pointer;
  background-color: rgb(22, 19, 192);
  padding: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
}
#robTitle {
  color: rgb(238, 231, 231);
  text-align: center;
  font-size: 2.5rem;

  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
#aliceTitle {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}
#newGame {
  background-color: rgb(41, 39, 41);
}

.btn--disabled {
  cursor: not-allowed;
}

.board {
  background: rgb(243, 237, 237);
  margin: 5px;
  width: 97%;
  height: 50vh;
  border-radius: 10px;
  letter-spacing: 1.5pt;
  font-size: 1.5rem;
  position: static;
  overflow: scroll;
  text-overflow: auto;
  padding: 10px;
  font-weight: bolder;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.board_display-none {
  display: none;
}

.list_visibility > li {
  display: none;
  color: white;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem;
  margin-bottom: 1.5rem;
}
.board > button:nth-child(even) {
  background-color: red;
}
.board > p:nth-child(even) {
  color: rgb(11, 1, 148);
}
.board > p:nth-child(odd) {
  color: rgb(230, 20, 5);
}
.hide {
  display: none;
}
.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}
.tileButton {
  width: 105px;
  padding: 5px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: rgb(75, 73, 73);
  color: aliceblue;
  height: 30px;
  margin: 1px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 0.5px,
    rgb(31, 193, 27) 0px 0px 0px 2px, rgb(255, 217, 19) 0px 0px 0px 4px,
    rgb(255, 156, 85) 0px 0px 0px 2px, rgb(255, 85, 85) 0px 0px 0px 2px;
}
.tiles ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0px;
  align-self: center;
  display: flex;
  overflow-x: scroll;
  flex-flow: row wrap;
}

.tile-items {
  background-color: rgb(221, 49, 6);
  padding: 5px;
  margin: 1rem;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  text-shadow: 2px 2px #c23434;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.tile-items:hover {
  background-color: yellowgreen;
  color: #fff;
  cursor: pointer;
}

.stock {
  margin: 5px;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 12px;
  cursor: pointer;
  border: 3px solid red;
  border-radius: 5px;
  color: rgb(24, 24, 44);
  font-weight: 600;
}

.container_info {
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_info > div {
  text-align: center;
  width: 60%;
  height: 100px;
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-shadow: 1px 1px rgb(54, 76, 177);
}

.alert--info {
  background-color: rgb(14, 141, 214);
  color: #fff;
  height: 150px;
  font-size: 2rem;
}
.alert-count {
  background-color: green;
  color: #fff;
  height: 100px;
  font-size: 1.5rem;
}

.alert_danger {
  background-color: rgb(202, 7, 7);
  border: 1.5px solid rgb(17, 16, 16);
  height: 150px;
  font-size: 1.5rem;
}
#stockId {
  color: rgb(12, 11, 12);
  cursor: pointer;
  background-color:#fff;
  padding: 10px;

  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
}
.alert_success {
  background-color: rgb(0, 255, 98);
  border: 1.5px solid rgb(87, 243, 113);
  height: 150px;
  font-size: 1.5rem;
}

.container_game-over {
  background: yellow;
  width: 80%;
  height: 80vh;
  padding: 10px;
  border: 2px solid black;
  font-size: 2rem;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
}

.container-win {
  background: linear-gradient(rgb(231, 115, 7), rgb(235, 127, 65));
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 98vw;
  height: 99vh;
  border-radius: 15px;
  text-align: center;
  font-size: 4rem;
  color: black;
  z-index: 2;
  display: none;
}

.container-win > button {
  cursor: pointer;
  font-size: 2rem;
  padding: 20px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .tile-items {
    background-color: rgb(221, 49, 6);
    padding: 10px;
    margin: 2px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px #c23434;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }
  .board {
    background: rgb(243, 237, 237);
    margin: 5px;
    width: 95%;
    height: 50vh;
    border-radius: 10px;
    letter-spacing: 1.5pt;
    font-size: 1.5rem;
    overflow: scroll;
    text-overflow: ellipsis;
    padding: 10px;
    font-weight: bolder;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .tileButton {
    width: 50px;
    font-size: 1rem;
    background-color: rgb(75, 73, 73);
    color: aliceblue;
    margin: 5px;
    height: 30px;
    margin: 1px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 0.5px,
      rgb(31, 193, 27) 0px 0px 0px 2px, rgb(255, 217, 19) 0px 0px 0px 4px,
      rgb(255, 156, 85) 0px 0px 0px 2px, rgb(255, 85, 85) 0px 0px 0px 2px;
  }
  .tile-items {
    background-color: rgb(221, 49, 6);
    padding: 5px;
    margin: 10px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;

    text-shadow: 2px 2px #c23434;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px,
      rgb(31, 193, 27) 0px 0px 0px 2px, rgb(255, 217, 19) 0px 0px 0px 3px,
      rgb(255, 156, 85) 0px 0px 0px 4px, rgb(255, 85, 85) 0px 0px 0px 4px;
  }
  #Rob > li {
    color: #fff;
    background-color: rgb(17, 19, 19);
    padding: 5px;
    /* margin: 10px; */
    width: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;

    text-shadow: 2px 2px #c23434;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px,
      rgb(31, 193, 27) 0px 0px 0px 2px, rgb(255, 217, 19) 0px 0px 0px 3px,
      rgb(255, 156, 85) 0px 0px 0px 4px, rgb(255, 85, 85) 0px 0px 0px 4px;
  }
  #Rob > li:hover {
    color: rgb(14, 12, 12);
    background-color: #fff;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px,
      rgb(31, 193, 27) 0px 0px 0px 1px, rgb(255, 217, 19) 0px 0px 0px 1px,
      rgb(255, 156, 85) 0px 0px 0px 1px, rgb(255, 85, 85) 0px 0px 0px 1px;
  }
  .container_info {
    display: flex;
    flex-direction: column;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .container_info > div {
    text-align: center;
    width: 60%;
    height: 30px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    text-shadow: 1px 1px rgb(54, 76, 177);
  }

  .alert--info {
    background-color: rgb(14, 141, 214);
    color: #fff;
    height: 30px;
    font-size: 2rem;
  }
  .alert-count {
    background-color: green;
    color: #fff;
    height: 30px;
    font-size: 1.5rem;
  }

  .alert_danger {
    background-color: rgb(202, 7, 7);
    border: 1.5px solid rgb(17, 16, 16);
    height: 30px;
    font-size: 1.5rem;
  }
  #game-start {
    margin: 70% auto;
    width: 200px;
    height: 150px;
    border-radius: 10px;
  }
}
